body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #001a31
  }


header {
  background-color: #000080;
  color: #fff;
  padding: 20px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  position:fixed;
  font-size: 22px;
  z-index: 0;
  width: 100%;
  height: 7%;
  padding-left: 10%;
  margin-bottom: 10%;
}

header img{
  height: 160%;
  width: 9%;
  margin-top: 5%;
}

nav {
  text-align: center;
  margin-left: 5%;
}

.nav-item {
  display: inline-block;
  margin-right: 20px;
  text-align: center;
}

.nav-item a {
  color: #fff;
  font-weight: bold;
  text-decoration: none;
}

.nav-item a:hover{
  color: yellow;
  border-bottom: 3px solid yellow
}

.img-content img{
  width: 100%;
}

.sidebar-content{
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  margin-top: 10%;
}


.main img {
  width: 100%;
  height: 100%;
}

footer {
  clear: both; /* Assicura che il footer venga posizionato sotto le sidebar */
  background-color: #000080;
  color: #fff;
  text-align: center;
  padding: 20px;
  margin-top: 10px; 
}

.hambuger-menu div{
  width: 25px;
  height: 3px;
  background-color: white;
  margin: 5px 0;
}
.hambuger-menu {
  display: none;
}

@media (max-width: 700px) {
   .hambuger-menu{
    display: block;
   }
   nav{
    display: none;
   }
   .sidebar-right{
    display: none;
   }
   .sidebar-left{
    display: none;
   }
   .sidebar-content{
    flex-direction: column;
   }
   header{
    justify-content: space-around;
    padding: 0%;
   }
   header img{
    width: 40px;
    height: 40px;
    padding-bottom: 5%;
   }
  }

